[2016-04-10 09:36] quentfr21 opened #1 "missing textures"
hello

More-Planets-1.7.10-1.3.2

missing texture on multiple planet

fixed by take old texture from old release
just let you know

thanks

[2016-04-10 21:19] MJRLegends commented on #1
@quentfr21 they were removed for a reason, so adding them back in is not really a good idea and kinda edits @SteveKunG mod which your not allowed to do

[2016-04-11 07:47] quentfr21 commented on #1
@MJRLegends

thanks for the info, i only added it for me , i will try and if i got an issue related to it i will return to not modified release version but i just add some assets back i think this will not cause an issue but maybe :)

thanks

[2016-04-11 08:46] SteveKunG commented on #1
Thanks for your help @MJRLegends

[2016-04-11 08:46] #1 closed

[2016-04-30 10:23] MJRLegends opened #2 "Already decorating crash"
I seems that me and other players of my mod pack are getting this crash, it seems this crash is happening on SiriusB and Fronos

**Crash Log 1 From another user of my mod pack**

This is a player that reported this to me https://github.com/MJRLegends/Space-Astronomy-Feedback-/issues/275

**Crash log/Log from my server**

And this is from my server:
Crash log http://pastebin.com/ukuB5n4M
Here is th

[2016-05-01 06:52] SteveKunG commented on #2
It's happen in the old version of Cauldron??

[2016-05-01 16:48] MJRLegends commented on #2
Im really not sure because if i downgrade the version of kCauldron a load of other crashes happen that have been fixed in the latest versions of kCauldron

[2016-05-01 16:51] MJRLegends commented on #2
I have tried posting this issue on there issue tracker before but they wasnt really that helpful at all with looking in to the issue

[2016-05-04 23:11] MJRLegends commented on #2
A fix that seems to work for this issue is to: try changing the option "load chunk on request" to false in cauldron.yml

[2016-05-12 10:22] MJRLegends opened #3 "Crash on Venus with plants/crops"
Crash log from server http://pastebin.com/ACwqH574

Im not really sure what he was mining but he was on venus so im guessing its the plants that are located on there?

Edit: after having a look at the log i can see its the corn from fronos

Let me know if you need any more information

[2016-05-27 10:12] #2 closed

[2016-05-29 23:12] MJRLegends commented on #3
@SteveKunG Have you had a chance to take a look at this issue yet

[2016-06-03 19:14] Cronosus opened #4 "Crash on SiriusB"
http://pastebin.com/HvMDz8we

[2016-06-03 19:37] MJRLegends commented on #4
See #2 for the solution for this

[2016-06-03 23:45] Cronosus commented on #4
i already found it, thanks
but now are chunk generated very slowly.... but still better than crash.

[2016-06-03 23:46] MJRLegends commented on #4
Yeah well blame kcauldron for the crash as it doesnt happen with forge

[2016-06-04 00:03] Cronosus commented on #4
yeah, i can't use forgeserver, because needed plugins.. :/

[2016-06-04 00:04] MJRLegends commented on #4
Yeah, also try out thermos its better and less buggy as kcauldron

[2016-06-04 13:11] Cronosus commented on #4
ok, ill try, thanks

[2016-06-22 15:46] Cronosus opened #5 "Gravity boots not working correctly"
Gravity boots not working correctly without GM

i mean: if i activate GM, i fall on ground because gravity, but when i disable gm and little jump, or move on edge, i fly away.
tested on SP and MP on overworld spacestation

[2016-06-22 15:47] MJRLegends commented on #5
Yeah this is a known bug

[2016-06-22 15:51] Cronosus commented on #5
ok
two players on my server complain to this.

[2016-07-06 14:29] Cronosus opened #6 "polongnius (maybe other planets too) - chest-room (with spawner)"
hello
Player on my server found little bug on planet polongnius (and maybe others too), he sometimes found room created just from chests (polongnius ancient chest), all bugged and some invisible.
i found one too
![2016-07-06_16 24 31](https://cloud.githubusercontent.com/assets/5349950/16621371/4cbd2cbc-4396-11e6-8b3b-aa7ba0b6599e.png)

[2016-07-06 16:33] SteveKunG commented on #3
OK, I'll take a look at this issue. Sorry I didn't looking at my repository for a long time....

[2016-07-25 18:01] #4 closed

[2016-07-25 18:08] SteveKunG commented on #5
Maybe Galacticraft issue I think. @radfast Could you look at this issue?

[2016-07-25 18:12] SteveKunG commented on #6
OK. Can you provide your world seed and coordinate?

[2016-07-25 18:12] SteveKunG commented on #3
Can you provide me about step to reproduce the bug?

[2016-07-25 18:13] MJRLegends commented on #3
I can try but its been a long time since and a player reported it to me on my server

[2016-07-25 18:20] Cronosus commented on #6
seed: 7029976515901086954
one of coordinates is on screen

[2016-07-25 18:51] SteveKunG commented on #3
OK. Please try this version.
http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2358057-more-planets-mod-v-1-3-1-galacticraft-add-on?page=48#c972

[2016-07-25 18:51] SteveKunG commented on #6
OK. Please try this version.
http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2358057-more-planets-mod-v-1-3-1-galacticraft-add-on?page=48#c972

[2016-07-25 19:05] MJRLegends commented on #3
@SteveKunG ok but what did you change in that version

[2016-07-25 19:15] Cronosus commented on #6
Nice, fixed.
Thanks :)

[2016-07-25 19:16] #6 closed

[2016-07-25 19:19] SteveKunG commented on #3
Try to fix this issue and #6

[2016-07-25 19:25] MJRLegends commented on #3
@SteveKunG ok any chance you could create a basic Jupiter to fix the issue we talked about via skype or would putting it on its own world provider and that help?

[2016-07-25 19:39] MJRLegends commented on #3
@SteveKunG also any chance you can add some basic textures for the missing ones?

[2016-08-01 22:40] #3 closed

[2016-09-10 20:45] CandiceJoy opened #7 "Dark Asteroids generation completely fails"
Crash Report: http://goo.gl/Jkv0ZB
Client log: https://www.dropbox.com/s/46asria8e225ffl/more-planets-crash-fml-client-latest.log?dl=0

I even tried NBT editing my playerdata to put myself back in the overworld so I could at least keep playing the rest of the pack, but something forces me to be in dim -2554 and therefore it forces -2554 to either load or generate, and it just goes into the infinit

[2016-09-25 08:35] wizzahd commented on #7
I get the same error, followed by a server crash. playing on MC 1.7.10, Space Astronomy pack v1.5.2 with latest Galacticraft (+ libraries) and More Planets 1.3.3.

I've been able to work around this by moving my player into dimension 0 using NBTExplorer, but entering the dimension -2554 again inevitably causes the same error.

[2016-09-25 12:25] MJRLegends commented on #7
@CandiceJoy this crash has no direct link to its source or the addon, also i dont get it and @wizzahd same applies

[2016-09-26 17:51] SteveKunG commented on #7
As @MJRLegends said. I can't find the main problem of this issue.
Can you testing without other GC Add-on?

[2016-10-29 20:43] SteveKunG opened #8 "Dark asteroids chunk generation crash"
http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2712042-galacticraft-add-on-more-planets-v2-0-0-beta?comment=50

[2016-10-29 20:45] SteveKunG opened #9 "Fix fronos blocks missing texture"

[2016-11-07 22:52] nidico100 opened #10 "Gravity Boots crashes game, when in inventory"
newest galacticraft version is installed

http://pastebin.com/wsUZT875

[2016-11-07 22:54] nidico100 opened #11 "SSP can only be joined one time after game start"
after starting game you can only join ssp one time and then have to restart to join ssp again, else it would just open the main menu instead of the world

i removed any other mod to look which mod this is causing and when i removed moreplanets only, everything worked

[2016-11-08 09:56] SteveKunG commented on #8
Crash log have been removed by reporter. I can't reproduce anymore -.-

[2016-11-08 09:56] #8 closed

[2016-11-08 10:03] SteveKunG commented on #10
Still can't reproduce in my development with latest Galacticraft source code. :(

[2016-11-08 10:05] SteveKunG commented on #11
Did you have game log? It would be help to find bugs.

[2016-11-08 10:31] nidico100 commented on #10
ftb thirdparty modpack
code: thenewworld
there the problem exists

[2016-11-08 10:32] nidico100 commented on #11
i will send it later, when i'm at home

[2016-11-08 10:51] SteveKunG commented on #9
In progress...

![2559-11-08_17 50 50](https://cloud.githubusercontent.com/assets/6128413/20096329/eb5180ce-a5db-11e6-9442-3b8481cd366d.png)

[2016-11-08 11:30] #9 closed

[2016-11-08 11:32] SteveKunG commented on #7
OK. Issue was fixed in the next version.

[2016-11-08 11:32] #7 closed

[2016-11-08 11:52] SteveKunG commented on #10
OK. Please test if you still getting a problem.

http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2358057-more-planets-mod-v-1-3-1-galacticraft-add-on?page=50#c1015

[2016-11-08 11:52] #10 closed

[2016-11-08 17:01] nidico100 commented on #11
I deleted all old logs and started game, then SSP then quit SSP again and tried to join SSP again and here are all logs, that where created during this time:

[logs.zip](https://github.com/SteveKunG/MorePlanets/files/578809/logs.zip)

[2016-11-08 20:03] SteveKunG commented on #11
[17:52:23] [Server thread/ERROR] [FML/]: Caught exception from MineTweaker3

`java.lang.IllegalArgumentException: Equal objects must have equal hashcodes. During rehashing, Trove discovered that the following two objects claim to be equal (as in java.lang.Object.equals()) but their hashCodes (or those calculated by your TObjectHashingStrategy) are not equal.This violates the general contract of ja

[2016-11-08 20:03] #11 closed

[2016-11-11 12:13] MJRLegends opened #12 "[Old Version] Dungeon Brick ExplosionResistance"
Please can you make the dungeon bricks on all your planets have or make higher getExplosionResistance as  some bosses are able to make holes in it and it makes holes below you and some time causes you to be to far away from the boss :D

[2016-11-11 12:17] MJRLegends opened #13 "[Old Version] Dungeons on Kapteyn B, Sirius B, Mercury, Venus and Pluto, Koentus and more"
Please could you make bosses for each of the dungeons so they can drop the suitable key for the treasure chest, even though we wont be getting a schematic from the chest, people can still get loot from them...

Just creeper bosses for them will be perfect :D

[2016-11-20 23:18] MJRLegends opened #14 "[Old Version] Sirius B Crash when teleporting to planet via rocket"
When teleporting to the planet via the planet screen/rocket i get this crash when falling down on the planet (generating chunks)

Crash log: http://pastebin.com/cX9H2hNS

Seems to be only this planet....

[2016-11-20 23:21] MJRLegends commented on #14
Dont worry fixed it i remember i found a fix before lol https://github.com/SteveKunG/MorePlanets/issues/2

[2016-11-20 23:21] #14 closed

[2016-12-03 13:28] DeLourium commented on #8
If this crash belongs to errors in chunk generation leadung to stack overflow, then I do have the same issue and i also have a crash log:

A detailed walkthrough of the error, its code path and all known details is as follows:
---------------------------------------------------------------------------------------

-- Head --
Stacktrace:
	at java.util.Calendar.setTime(Unknown Source)
	at java.text.

[2016-12-05 21:13] Pythonix756 opened #15 "Crash when joining vanilla hub"
Hello, I have a mod pack including more planets and whenever I try to join my server's vanilla hub it crashes, I tried other packs they all join cuz they don't have more planets. Can you help me with this. Here is the report: http://pastebin.com/Hxkv5s7S

[2016-12-05 21:15] MJRLegends commented on #15
Remove optifine and then try

[2016-12-05 21:16] Pythonix756 commented on #15
I did, didn't work

[2016-12-05 21:17] MJRLegends commented on #15
What is your hub server built out of?

[2016-12-05 21:17] Pythonix756 commented on #15
Regular 1.7.10 compatible vanilla blocks

[2016-12-05 21:21] MJRLegends commented on #15
Ok weird as i have a mod pack including this addon (Space Astronomy) and ive never had this issue with my bungeecord/hub and no one has report a issue like this to me for my pack.

What bungeecord version you using and what jar for the hub?

[2016-12-05 21:22] Pythonix756 commented on #15
Spigot 1.10 and it's more planets not space astronomy

[2016-12-05 21:23] MJRLegends commented on #15
Yeah but more planets is in my pack which is space astronomy.

What bungeecord u using?

[2016-12-05 21:26] Pythonix756 commented on #15
Idk but it runs from 1.7 to 1.11

[2016-12-05 21:27] MJRLegends commented on #15
Try maybe try a 1.7.10 version hub?

[2016-12-05 21:27] Pythonix756 commented on #15
The hub is compatible with 1.7

[2016-12-05 21:28] MJRLegends commented on #15
Please still give it a try as that will answer if its a few other issues that is the cause

[2016-12-05 21:28] Pythonix756 commented on #15
Alright

[2016-12-05 21:30] Pythonix756 commented on #15
Nope, crashes

[2016-12-05 21:31] MJRLegends commented on #15
Ok what happens if you take your hub off the bungeecord and join it directly without a bungeecord

[2016-12-05 21:31] Pythonix756 commented on #15
Crashes still, first thing we tried

[2016-12-05 21:32] MJRLegends commented on #15
Ok so its to do with your hub not bungeecord. What plugins and what 2.7 jar did you test

[2016-12-05 21:33] Pythonix756 commented on #15
Spigot and many other plugins. Btw this won't help since the issue is with fronos dirt block and the vanilla dirt block

[2016-12-05 21:34] MJRLegends commented on #15
But surely it should be crashing me too then?

[2016-12-05 21:34] Pythonix756 commented on #15
Idk what's wrong with this

[2016-12-05 21:35] MJRLegends commented on #15
But it could be a issue since its not my addon so might be a bug there

[2016-12-05 21:35] MJRLegends commented on #15
What happens if you remove all the dirt/grass from your hub world?

[2016-12-05 21:36] Pythonix756 commented on #15
Did you read the report, it is clearly more planets

[2016-12-05 21:36] Pythonix756 commented on #15
NO, I wot do that, that obliterates everything

[2016-12-05 21:36] MJRLegends commented on #15
@Pythonix756 yeah but if it crashes with the hub then its outside of its intended purpose since its meant for forge so other factors could be the cause

[2016-12-05 21:37] MJRLegends commented on #15
Make a copy of your hub world and generate a new world without dirt

[2016-12-05 21:38] Pythonix756 commented on #15
So what should I do now??? Extra planets doesn't have the systems in more planets and I want these systems

[2016-12-05 21:38] MJRLegends commented on #15
see my last few messages :D

[2016-12-05 21:39] Pythonix756 commented on #15
Tried that, joining a world with no dirt fixed it but I have a whole section made of dirt

[2016-12-05 21:40] MJRLegends commented on #15
Then yeah we have confirmed for @SteveKunG that its the dirt having a render conflict

[2016-12-07 20:51] Pythonix756 commented on #15
Nevermind, I managed to fix the issue but now I need to have a talk with you MJRLegends about Extra Planets. Can you add me on skype or discord?

[2016-12-07 23:30] MJRLegends commented on #15
Yeah add me its the same username as this one

[2016-12-07 23:31] MJRLegends commented on #15
(On skype)

[2016-12-20 21:20] SteveKunG commented on #15
http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2358057-more-planets-mod-v-1-3-5-galacticraft-add-on?page=52#c1058

[2016-12-20 21:20] #15 closed

[2017-01-07 17:11] MJRLegends opened #16 "[Old Version] Dark Asteroids Crash issue with SkylightMap (Important!)"
Seems this crash was reported before #8 but i have more information for you on the issue..

**Crash log with Thermos (From my own personal servers):** http://pastebin.com/r1eF5sc5
**Crash log with Forge only (From https://github.com/MJRLegends/Space-Astronomy-Feedback-/issues/646):** http://pastebin.com/WyUXZEQ7

The problem seems to be line 880 of ChunkProviderDarkAsteroids.class

In v1.3.5 and v

[2017-01-10 12:52] SteveKunG commented on #16
I didn't getting crash in my dev workspace. Not sure why. :(

`chunk.func_150807_a(x - 1, y & 15, z, DarkAsteroidsBlocks.dark_air, 15 - count);`

This is correct code that I fixed this issue.

[2017-01-10 13:01] MJRLegends commented on #16
Yeah to me it seems like its trying to generate outside of loaded/generated chunks

[2017-01-10 13:10] SteveKunG commented on #16
You should delete Dark Asteroids region folder and re-generate map again.

[2017-01-22 00:06] MJRLegends commented on #16
I cant test this as it would mean players would lose bases (items and blocks)...

[2017-01-22 00:07] MJRLegends opened #17 "Crash On Entering Dark Asteroids"
See https://github.com/MJRLegends/Space-Astronomy-Feedback-/issues/683

[2017-02-03 09:21] JanSzumotalski opened #18 "Mineral water generator use"
How to use mineral water generator?

ver. of minecraft: 1.7.10

[2017-02-03 11:04] SteveKunG commented on #18
Sorry. Its never fully implemented.

Also. I've been discontinued that version.

[2017-02-03 11:04] #18 closed

[2017-02-08 17:37] FoxAhead commented on #16
I do confirm crash with recursive chunk generation. I had crash in my quest world and repeated crash in clean creative test world. Using modpack Space Astronomy. Deleting Dark Asteroids region doesn't help. Crash could happen immediately on loading dimension or after flying some distance away from landing spot. I believe it has something with chunk generation which ends with endless recursion.
Cra

[2017-02-10 14:30] JiFMike commented on #16
A couple of us reached the dark asteroids last night on my server and ran into this same issue. We're playing the Space Astronomy pack.  If I can provide any info to help I'll gladly provide it. Thanks for a great mod though, this has been one of the best packs we've played in while. :)

[2017-03-02 17:16] SteveKunG commented on #5
OK. Can reproduce in my development.

[2017-03-02 17:27] SteveKunG commented on #12
Fixed in the next released. Thanks

[2017-03-02 17:27] #12 closed

[2017-03-02 18:24] MJRLegends commented on #12
Thanks

[2017-03-02 19:00] MJRLegends commented on #13
Was you able to do anything for this issue? (i say this because of the fixed label)

[2017-03-02 19:00] MJRLegends commented on #17
Did you you manage to track down the problem then?

[2017-03-02 19:02] MJRLegends commented on #16
Did you find anything else wrong or is regenerating the dimension the fix?

[2017-03-02 19:21] SteveKunG commented on #13
I only added Kapteyn B and Pluto bosses. Some planets doesn't have the treasure room.

[2017-03-02 19:22] MJRLegends commented on #13
Ok, i only posted this issue because i was getting reports of players getting confused that dungeons were giving different keys and that

[2017-03-02 19:23] SteveKunG commented on #16
Yeah, Its accidentally changed some value that should not change. I think this should be solve.
1.3.7 Will released for a moment.

[2017-03-02 19:25] MJRLegends commented on #16
Ok, is there a ETA on v1.3.7 update?

[2017-03-02 19:35] MJRLegends commented on #5
Are you able to fix it? or is it a galacticraft api bug?

[2017-03-02 19:38] SteveKunG commented on #13
http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2358057-more-planets-mod-v-1-3-6-galacticraft-add-on?page=54#c1084

[2017-03-02 19:38] #13 closed

[2017-03-02 19:39] SteveKunG commented on #16
Right now. Please test it out if it still has an issue.
http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2358057-more-planets-mod-v-1-3-6-galacticraft-add-on?page=54#c1084

[2017-03-02 19:39] MJRLegends commented on #17
Is this fixed in v1.3.7?

[2017-03-02 19:39] MJRLegends commented on #16
Sweet thanks

[2017-03-02 19:39] SteveKunG commented on #17
Might be.... Need testing.

[2017-03-02 19:41] MJRLegends commented on #17
Ok thanks, i dont think i can reproduce the problem myself so will probably have to wait to see if someone reports it again to me when i release v1.3.7 in a mod pack update :D

[2017-03-02 19:42] SteveKunG commented on #5
Pinging @radfast

[2017-03-02 19:43] MJRLegends commented on #16
@SteveKunG umm v1.3.7 has given me this crash

Description: There was a severe problem during mod loading that has caused the game to fail

cpw.mods.fml.common.LoaderException: java.lang.NoClassDefFoundError: stevekung/mods/stevecore/CreativeTabsHelper

is stevecore needed for 1.7.10 now?

[2017-03-02 19:44] SteveKunG commented on #16
Oops. Jar packing failed. I will reuploaded mod.

[2017-03-02 19:46] MJRLegends commented on #16
Ok thanks :D

[2017-03-02 19:49] SteveKunG commented on #16
http://www.mediafire.com/file/v4aa0rrhl52jt03/More-Planets-1.7.10-1.3.7.jar

Please try again.

[2017-03-02 19:52] MJRLegends commented on #16
Perfect thanks loads fine now :D

[2017-03-02 19:56] MJRLegends opened #19 "[Old Version][1.7.10] Missing localisation of a spawn egg name"
![](https://i.gyazo.com/3bb03e5f1a9b9b972a7dc676d056b806.png)

[2017-03-02 19:57] MJRLegends commented on #19
Language used: en_US

[2017-03-02 20:22] MJRLegends commented on #19
Another missing localisation its not major but thought i point it out

![](https://i.gyazo.com/b7c28722f493a313d30ce938460544d7.png)

[2017-03-02 20:26] MJRLegends opened #20 "[Old Version][1.7.10] Pluto Dungeon Bugs"
The key that is dropped is a Polongnius key, its not a major issue as it still works in the Pluto treasure chest but could confuse players since it doesn't say Pluto
![](https://i.gyazo.com/82d6f2ff2caef7133df33e4eb2d76538.png)

Also when looking in the chest i got a Tier 8 schematic, which means Tier 6 and 7 are being skipped
![](https://i.gyazo.com/35b0ea99e3c76d0021dd4b7fd4a3932b.png)

[2017-03-02 20:38] MJRLegends commented on #20
Also the Kapteyn B has the Tier 8 schematic, this isnt a bug but it means that there is two planets that you can get the Tier 8 schematic from, I'd thought i would bring it up just in case this wasn't your aim with the Kapteyn B dungeon

[2017-03-02 21:17] MJRLegends opened #21 "[Old Version][1.7.10] Schematic 7/8 out of order in the nasa workbench"
See https://gyazo.com/a0830e70e4a7571069906af7222daeb0

[2017-03-02 22:20] MJRLegends opened #22 "[Old Version][1.7.10] Iridium Ingot Conflict with Advanced Solar Panels Mod"
When the Advanced Solar Panels Mod is installed the recipes for converting Iridium Ore from More Planets to Iridium Ingot's it defaults to the Advanced Solar Panels Mod version which doesn't work in the Galacticraft Compressor recipe.

You should be able to fix this by making the Galacticraft Compressor recipe use ore dictionary entry for the Iridium Ingot which should allow the Advanced Solar Pan

[2017-03-02 22:27] MJRLegends commented on #22
I believe the Galacticraft Compressor recipe that has the conflict is the converting Iridium Ingot's to Compressed Iridium

[2017-03-03 00:44] MJRLegends commented on #20
@SteveKunG Out of all my current posted bugs, this one is the major important bug :P

[2017-03-03 05:24] SteveKunG commented on #16
Please re-open if it still has an issue.

[2017-03-03 05:24] #16 closed

[2017-03-03 05:24] #17 closed

[2017-03-03 05:35] SteveKunG commented on #19
Fixed in the next version.

[2017-03-03 05:35] #19 closed

[2017-03-03 05:50] SteveKunG commented on #22
Fixed in the next version.
Ore dictionary name : "ingotIridium"

[2017-03-03 05:50] #22 closed

[2017-03-03 06:15] SteveKunG commented on #20
Fixed in the next version. Remove planet name from Dungeon Key.

[2017-03-03 06:15] #20 closed

[2017-03-03 06:25] SteveKunG commented on #21
Fixed in the next version. Its need to reset schematic ids in MorePlanets.cfg.

[2017-03-03 06:25] #21 closed

[2017-03-03 09:36] MJRLegends commented on #20
Ok what about the Tier 8 schematic in the treasure chest loot

[2017-03-03 09:42] SteveKunG commented on #20
It changed to Tier 6 Schematic.

[2017-03-03 09:46] MJRLegends commented on #20
Ok sounds good thanks is there a eta on the update release?

[2017-03-03 09:49] SteveKunG commented on #20
17:15 PM in Thai.

[2017-03-03 09:51] MJRLegends commented on #20
Perfect thanks

[2017-03-03 10:11] SteveKunG commented on #20
http://www.mediafire.com/file/kq9j691f9l9eiut/More-Planets-1.7.10-1.3.8.jar

[2017-03-03 10:41] MJRLegends commented on #20
Thanks, I'll let you know if i find any more bugs

[2017-03-03 11:03] MJRLegends commented on #21
I can confirm its fixed, thanks

[2017-03-03 11:04] MJRLegends commented on #22
I can confirm its fixed, thanks

[2017-03-03 11:04] MJRLegends commented on #19
I can confirm its fixed, thanks

[2017-03-03 11:04] MJRLegends commented on #20
I can confirm its fixed, thanks

[2017-03-03 11:49] MJRLegends opened #23 "Biome ID's Conflict"
I see in the default More Planets config, Mercury and Venus have the same id's as the moon and mars, i've fixed it myself by changing the id's via the config. But thought i'd say something since the default id's have a conflict.

Mercury and Venus
![](https://i.gyazo.com/839cd005437039714c7a6fb9846fe003.png)

Moon and Mars
![](https://i.gyazo.com/aa64060102165d0d66a4bb8cb462c983.png)

Also there i

[2017-03-03 12:09] #23 closed

[2017-03-03 17:41] radfast commented on #5
1. What is "GM"?

2.  Please give me a link to all the source code for Gravity Boots.

[2017-03-03 17:53] SteveKunG commented on #5
Testing with Survival mode. Player doesn't fall.
![2560-03-04_00 52 00](https://cloud.githubusercontent.com/assets/6128413/23562403/db233578-0074-11e7-8907-ed55d2c2e16f.png)

https://github.com/MCCommanderTH/MorePlanets/blob/master/1.7.10_old/src/main/java/stevekung/mods/moreplanets/planets/pluto/items/ItemGravityBoots.java

[2017-03-03 18:04] Cronosus commented on #5
¨GM" - Gamemode creative

[2017-03-05 15:48] MJRLegends opened #24 "Already decorating, Crash on KapteynB"
Crash log: http://pastebin.com/CJjBN2hy

Server is running: Thermos:1.7.10-1614.57
More Planets Version: Latest (v1.3.8)

I have the fix i found for this issue changed but isn't stopping this crash (Issue this fix was posted in #2)
![](https://i.gyazo.com/d22c8eaf81249bdc179df40eb5bf181a.png)

The player was just generating new chunks...

[2017-03-05 15:52] MJRLegends commented on #24
From what i can see from the crash log its to do with the FrozenWater generating

[2017-03-05 16:40] Cronosus opened #25 "(1.7.10) [MP-1.3.6+] Client crash"
Client crashing, when i open map and clicking on planets
http://pastebin.com/MSUyiamD

edit: ill try now newest version, miss update
edit2: caused on 1.3.8 too

[2017-03-05 17:05] MJRLegends commented on #25
I think your issue is with galaxyspace, as the crash log shows the code below

[code]

[2017-03-05 17:18] Cronosus commented on #25
hmm
i thnk ist something with compatibility, its caused only when i have GS and MP together in pack.
http://pastebin.com/yYve0ka6

[2017-03-05 18:47] MJRLegends commented on #25
Yeah its probably because galaxy space has features and they dont handle well with more planets, planets

[2017-03-06 06:15] #25 closed

[2017-03-06 06:33] SteveKunG commented on #24
Fixed in the next version. Thanks.

[2017-03-06 06:33] #24 closed

[2017-03-06 14:53] MJRLegends opened #26 "[1.7.10][Suggestion] Debug information showing in console without Debug option in Config"
Im getting Debug information from More Planets, in my dev environment and the Debug option in the More Planets config is set to false.

Please could you add them behind the config option

Debug information i got:

[code]

[2017-03-06 16:36] SteveKunG commented on #26
There is no way to disable it if you tested in Dev. environment.

https://github.com/MCCommanderTH/MorePlanets/blob/master/1.7.10_old/src/main/java/stevekung/mods/moreplanets/core/util/MPLog.java#L28

[2017-03-06 16:58] MJRLegends commented on #26
Ok no problem

[2017-03-06 16:58] #26 closed

[2017-03-09 22:03] MJRLegends commented on #24
@SteveKunG Hey just wondering, is there a eta on the next version. I only ask as im working on a mod pack update

[2017-03-16 03:24] MJRLegends commented on #24
@SteveKunG Hey just wondering, is there a eta on the next version. I only ask as im working on a mod pack update

[2017-03-16 11:44] MJRLegends opened #27 "[1.7.10] GUI Elements, Oxygen/Thermal bar do not show on Mercury"
See https://github.com/MJRLegends/Space-Astronomy-Feedback-/issues/770

cc: @radfast (Not sure if its something on GC end causing it :D )

[2017-03-17 04:55] SteveKunG commented on #27
Its my mod bug. Not GC.
Also fixed in the next version.

[2017-03-17 04:55] #27 closed

[2017-03-17 14:00] MJRLegends commented on #27
Thanks i can confirm its fixed :D

[2017-04-01 12:44] bballboy2002 opened #31 "Dark Asteroids still has loading problems"
https://pastebin.com/7Hfjfumm
At the end, the error that says dim -41 doesn't exist seems to be related but in the config -41 is Mars Space Station (the one from GalaxySpace). The Dark Asteroids dimension ID is -2554.

[2017-04-01 12:52] MJRLegends commented on #31
More planets doesnt use this id

[2017-04-01 12:55] bballboy2002 commented on #31
Maybe I should have posted my configs:
More Planets: https://pastebin.com/Lth5zgr3
Extra Planets: https://pastebin.com/DD31VLWq
Galaxy Space dimensions: https://pastebin.com/dNsmZVt4

[2017-04-01 12:57] MJRLegends commented on #31
All you need to do is change dimension ids as your have over lapping ids

[2017-04-01 12:58] MJRLegends commented on #31
Also your log doesnt show anything direct at dark Asteroids...

[2017-04-01 12:58] bballboy2002 commented on #31
I have looked through other configs too and no mention of dim -41, but what I find especially weird is that it only gives me this error when I try to load dark asteroids

[2017-04-01 13:11] bballboy2002 commented on #31
line 2796: `[13:38:52] [Client thread/INFO] [STDERR]: [java.lang.Throwable$WrappedPrintStream:println:748]: java.lang.IllegalArgumentException: Could not get provider type for dimension -2554, does not exist`

[2017-04-07 05:37] bballboy2002 commented on #31
Changed the config for what was using -41 because I apparently couldnt load any dimension except Overworld and it work now
Closing issue

[2017-04-07 05:37] #31 closed

[2017-04-20 09:57] teamMK opened #45 "[Suggestion] Mothership"
It would be nice to have an Mothership like in the addon AnMun Ra, it would fit into the excessive space travelling and maybe a good starting point for more Planets much further away ;-) But before you can build it, you need from each Planet special Resources/Blueprints to build a special engine for intergalactic spacetravel ;-)

[2017-04-21 13:43] Bebiezaza commented on #45
I would like that too, a space station that can go to other planets.

[2017-05-19 00:19] barker0522 opened #53 "Venus Dungeon Generation"
I'm playing Space Astronomy from the Twitch client, which has moreplanets 1.4.0 and more planets extra 4.0 included.

I'm not sure if this is a bug, or it's just the way it's designed, but after finding 7 dungeons on Venus and getting 5 tier 4 keys from the boss, I have yet to find a single dungeon chest.  I walk down the hallway near the boss room and it always just ends with a wall.  I dig throu

[2017-05-19 00:20] MJRLegends commented on #53
Just find another dungeon, sometimes galacticraft bugs out with the spawning in them

[2017-05-19 00:23] barker0522 commented on #53
So more than 7 dungeons are sometimes necessary?  The map is already expanded pretty big.

Is there a way I can delete that dimension and let it regenerate?

[2017-05-19 00:25] barker0522 commented on #53
And thank you so much for this mod pack.  I'm loving it.  Great work.

[2017-05-19 00:56] barker0522 commented on #53
Meh, I just rushed 3 more with the same results, dungeons are generating fully with the exception of the treasure room.

I felt like I was playing diablo again, rushing the same dungeons over and over again haha.

I gave up and cheated in the schematic.  I have really bad luck, this just wasn't going to happening and it was getting boring.

Hopefully the rest of the planets aren't like this.

[2017-05-19 08:49] SteveKunG commented on #53
This is intended feature, No treasure chest room generated.
Including Venus, Mercury and Koentus Moon.

[2017-05-19 08:49] #53 closed

[2017-06-02 17:18] barker0522 commented on #53
Are the higher level rocket schematics still available then?  Previously I only found them in those treasure chests.

[2017-06-03 19:12] SteveKunG commented on #5
It seem to fix for me in my dev test. @Cronosus Can you confirm that?

[2017-06-03 19:18] SteveKunG commented on #45
Might not add Mothership because I do not want to duplicate feature in others add-ons. But yeah I will leave this issue open.

[2017-06-03 19:28] Cronosus commented on #5
which version?

[2017-06-03 19:35] SteveKunG commented on #5
https://ci.micdoodle8.com/job/Galacticraft-1.7/499/
and
https://minecraft.curseforge.com/projects/galacticraft-add-on-more-planets/files/2411209

[2017-06-03 20:16] Cronosus commented on #5
hmm.. looks like not, but mechanism ingame in space changed.. when i jump, i fly away, but i can hold shift to go down and spacebar to go up.. and i dont need gravity boots.
when i wear gravity boots i not see any change, i dont go down without holding shift

[2017-06-03 20:18] Cronosus commented on #5
ad. but when i go to mars space station, it works differently.
boots working, but flying i cant control

[2017-06-03 21:11] SteveKunG commented on #5
Please can you make a video? It really hard to understand what's wrong with it.

[2017-06-03 22:07] Cronosus commented on #5
https://youtu.be/rGR9S3UCmCU
i think, GC changes how spacestations works, same as Earth spacestation works ExtraPlanets stations.. just Mars station from galaxyspace not works this same, then boots working
Maybe GalaxySpace and you are using old spacetation api?

[2017-06-04 07:05] SteveKunG commented on #5
Still can't reproduce, Seem be to an issue with other mod. Please remove mod that changes/improve player movement.

[2017-06-04 08:57] Gamerbolts opened #54 "Server crash when in traveling to dimension in Spaceship. "Ticking Entity" Crashlog enclosed"
Hi there I am working on a modpack with quite a few mods. Included it More Planets. I recently had testers on the server and they were trying to fly to Pluto and other planets. They crashed, I looked it up and saw where you said to do the forge chunk load thing to false. So I did that. They were able to get to Pluto but upon flying back they received a crash to desktop as well as the server crashi

[2017-06-04 09:17] SteveKunG commented on #54
Please update Galacticraft to this : https://ci.micdoodle8.com/job/Galacticraft-1.7/499/

[2017-06-04 11:41] radfast commented on #5
PlayerAPI could make a difference here...  Cronosus do your players have PlayerAPI?

[2017-06-04 11:49] Cronosus commented on #5
never used playerapi
now tried just galacticraft + your mod...
spacestations works the same, i can control up/down by spacebar/shift
gravity boots not working still, just when i touch wall.

[2017-06-04 11:52] MJRLegends commented on #5
@Cronosus Do they work on any space stations like from galacticraft and other add-ons?

If not they this isn't s more planet thing..

Also try using player api as radfast said

[2017-06-04 12:05] Cronosus commented on #5
i tried all spacestations, GC and MP
i removed other addons
why playerapi?
YT not working for me
http://cronos.wz.cz/mc/boots2.wmv

[2017-06-04 12:34] Cronosus commented on #5
no change with playerapi

[2017-06-04 12:43] MJRLegends commented on #5
@Cronosus right aside from more planets does any gravity boots and space stations work in and with other add-ons?

[2017-06-04 12:47] Cronosus commented on #5
as i already post, on spacestation from galaxyspace it works, because theres not navigating control, when you jump, then you just hovering, but when i wear gravity boots, i fall do floor.
in extraplanets working spacestations same as on earth, then boots not working.
not using other addons

[2017-06-04 16:51] SteveKunG commented on #5
Hmmm, this is weird.
https://www.youtube.com/watch?v=qJTw6UBDxQQ

[2017-06-04 16:54] Cronosus commented on #5
yes.. thats exactly what i say :)

[2017-06-04 17:14] SteveKunG commented on #5
Forge build 1614 I don't think it matter.

[2017-06-04 17:16] #54 closed

[2017-06-04 18:07] Gamerbolts commented on #54
Apologies I had no idea I had an outdated GC. Thank you for letting me know.

[2017-06-05 10:27] SteveKunG commented on #5
OK, I figure it out. Will try to fix this today! (GMT+7)

[2017-06-06 11:41] Gamerbolts opened #55 "1.7.10 Already Decorating Crash (newest version MP & GC) Crash logs enclosed."
Hi again, sorry for bothering you. I updated to GC 499 like you said and when a tester tried going to space (they didn't say which planet according to the log looks like SiriusB) it crashed the server. then crashed it 3 more times each time they tried to log back in while in the dimension.

Here is the first log: https://pastebin.com/CNWDUFYU
And the 2nd one: https://pastebin.com/rmzJW8GR

I also

[2017-06-06 12:59] MJRLegends commented on #55
See issue #2 to fix this

[2017-06-06 13:08] Gamerbolts commented on #55
Thought I had already changed that option, guess it didn't save. Thanks for the help!

[2017-06-06 13:08] #55 closed

[2017-07-03 10:30] SteveKunG commented on #1
OK, Then please try this version.
https://minecraft.curseforge.com/projects/galacticraft-add-on-more-planets/files/2445328

I will reopen if this still an issue. Thank you!

[2017-07-26 08:40] SteveKunG commented on #3
Please try with this : https://drive.google.com/file/d/0B_PWTTYduPpfU0lwRUpTUGNFRW8/view

[2017-07-26 09:54] Th3Z0n3 commented on #3
Hi, is this for both server and client?

[2017-07-26 09:58] SteveKunG commented on #3
Yes

[2017-07-26 10:04] Th3Z0n3 commented on #3
Sorry, same crash.
[crash-2017-07-26_12.03.26-server.txt](https://github.com/SteveKunG/MorePlanets/files/1176198/crash-2017-07-26_12.03.26-server.txt)

[2017-07-27 03:34] SteveKunG commented on #3
OK, this should work.
https://drive.google.com/file/d/0B_PWTTYduPpfZXBaRjFnS2NUTTQ/view

[2017-07-27 15:27] Th3Z0n3 commented on #3
Hi,
it works great. Thank you very much! :)

[2017-08-16 22:00] SteveKunG commented on #4
2. It is intended recipe.

[2017-09-17 07:58] SteveKunG commented on #5
Is this happened only in development?

[2017-09-17 10:58] MJRLegends commented on #5
Think so yeah

[2017-09-17 14:45] SteveKunG commented on #5
Some other mod has changed `GlStateManager.cullFace` modifier? e.g. public to protected/private

[2017-09-17 18:46] MJRLegends commented on #5
Im using jei and Galacticraft and my addon nothing else

[2017-10-14 06:36] SteveKunG commented on #9
??? https://ci.micdoodle8.com/job/Galacticraft-1.10/118/

[2017-10-14 16:27] BrotalityG commented on #9
Thank you

On Oct 14, 2017 2:36 AM, "SteveKunG" <notifications@github.com> wrote:

[2017-10-14 16:28] BrotalityG commented on #9
Wait no. I'm talking about MorePlanets mod version GC118

On Oct 14, 2017 12:26 PM, "The Bro Gamer" <bstahl500@gmail.com> wrote:

[2017-10-17 09:10] SteveKunG commented on #9
GC118 its mean build version number of Galacticraft that recommended to play with More Planets.

[2017-10-27 06:05] SteveKunG commented on #10
Maybe I should implement this in 1.10+. I want to rewrite all the things in my mod :)

[2017-10-30 23:39] MJRLegends commented on #5
ping @SteveKunG Sorry to bother you but Any news of this issue :D

[2017-10-31 13:24] SpongebobFan123 commented on #10
It would be great to see that! But.. I'm playing this in 1.7.10 so could you put it in that version too?

[2017-10-31 13:28] SpongebobFan123 commented on #10
Oh yeah, and why don't we make a separate launch pad for the mo planets rockets (plasma rockets, as how I like to call them) so that we could make them look more harder(or easier) and make them more awesomer?

[2017-11-02 08:06] SpongebobFan123 commented on #10
oh yeah by the way turns out that if you defeat the boss in the moon, it can give u any random schematic, like a tier 4 one. that means that you wont have to defeat the tier 4 boss. from the way I see it, that's BROKEN. so could you put a config option so that all bosses will only have the schematics of the next tier?

[2017-12-19 04:19] SteveKunG commented on #13
OK, I'd separate MC version into each branch.